<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">You're logged in as {{user.first_name}}</h1>
        <a href='/logout'>Log Out</a><br>
        <a href=''>Add Book and Review</a>
    </div>

    <form action='/reviews/create' method="POST">
        <h1>Add a New Book Title and a Review</h1>
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Book Title:</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>Author:</label>
            <select>
                {% for author in authors %}
                <option value={{author.id}}>{{author.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Or add a new author:</label>
            <input type="text" class="form-control" name="author">
        </div>
        <div class="form-group">
            <label for="content">Review:</label>
            <input type="text" class="form-control" name="content">
        </div>
        <select name='rating'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <input type='submit' value='Add Book and Review'>
    </form>