<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">
    <title>Book Reviews Home</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">You're logged in as {{user.first_name}}</h1>
            <a href='/logout'>Log Out</a><br>
            <a href='/books/add'>Add Book and Review</a>
        </div>
        <h2>Recent Book Reviews</h2>
        <div class="alert alert-success" role="alert">
            {% for review in reviews %}
            <p>Book: {{review.book.title}} by {{review.book.author.name}}</p>
            <p>Rating: {{review.rating}} stars</p>
            <p class="mb-0">—{{review.user.first_name}} {{review.user.last_name}} says: {{review.content}}</p>
            <p>Posted on {{review.created_at}}</p>
            <a href='/delete/{{message.id}}'>Delete message</a>
            <hr>
            {% endfor %}
        </div>


</body>

</html>